@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');

/*font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================================================================
HEADER STYLES
================================================================*/

h1 {
    font-family: 'Cinzel', serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    color:#999;
}

header section {
    background-image: url('https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-size: cover;
    padding: 100px 0px;
}

header section p {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: white;
    margin: 0px 200px;
    text-align: center;
}

/* =================================================================
MAIN STYLES
================================================================ */

main {
    margin: 0 110px;
}
h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    margin: 40px 0px;
    color: #333;
}

main p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    color: #333;
}

main div {
    margin-bottom: 40px;
    text-align: center;
}

main div img {
    width: 300px;
    margin: 0px 15px;
}

main section {
    margin: 0px 60px;
    list-style: none;
}

main section p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: left;
}

main section p a {
    color: #333;
    text-decoration: none;
}
main section p:nth-child(1)::after, main section p:nth-child(2)::after, main section p:nth-child(3)::after {
    content: "SOLD OUT";
    color: red;
    margin-left: 10px;
}

main section p:nth-child(4)::after {
    content: "ONLY 4 SPOTS AVAILABLE";
    color: red;
    margin-left: 10px;
}

main section p:nth-child(5)::after, main section p:nth-child(6)::after {
    content: "AVAILABLE";
    color: green;
    margin-left: 10px;
}

/* ==============================
FOOTER STYLES
============================== */

footer {
    border-top: 1px solid #ccc;
    margin-top: 40px;
}
footer h3 {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
footer section {
    text-align: center;
    margin-bottom: 30px;
}

footer section a i {
    margin: 0 5px;
    color: #333;
    font-size: 40px;
}